## Drill - Describing Data

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [73]:
df = pd.DataFrame()

In [74]:
df['Names'] = ['G', 'M', 'P', 'J', 'B', 'C', 'O']

In [75]:
df['Ages']=[14, 12, 11, 10, 8, 6, 8]

In [76]:
df

  Names  Ages
0     G    14
1     M    12
2     P    11
3     J    10
4     B     8
5     C     6
6     O     8

In [6]:
df.mean()

Ages    9.857143
dtype: float64

In [16]:
np.std(df['Ages'] ,ddof=1) / np.sqrt(len(df['Ages']))

1.0334540197243192

In [8]:
pd.median()

Ages    10.0
dtype: float64

In [18]:
df.describe()

            Ages
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [19]:
np.std(df['Ages'], ddof = 1)

2.734262327610589

2. I would choose the mean and the standard deviation

In [32]:
 = 7

KeyError: 'cannot use a single bool to index into setitem'

In [80]:

df.loc[df.Names == 'C', 'Ages'] = 7

In [82]:
df.describe()

            Ages
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

It seems like there was a slight change to both the standard deviation and the mean.

4. If we change Jessica who is 1-year-old  for Oliver, we will get the following:

In [92]:
df.loc[df.Names == 'Jes', ['Names', 'Ages']] = ['Jes', 1]

In [93]:
df

  Names  Ages
0     G    14
1     M    12
2     P    11
3     J    10
4     B     8
5     C     7
6   Jes     1

In [94]:
df.describe()

            Ages
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

It would be better to use the median in this case. The introduction of Jessica who is 1 year old added the element of an outlier in the group. a Median in this case would be the more accurate estimate of the centeral tendancy of our data set

5. To find the best estimate of the percentage of adult Americans who Brady bunch fans (The Population), The choice would be between the mean and median, and in this case, in my opinion it should be the median, since there is an outlier (the 5) and the median is not sensitive to extreme values. 

In the case of having an even number of terms, the median is going to be the average of the two middle terms. 

The mean is also going to be shown for comparison.

In [104]:
## the list of % of fans ordered
lis = [5, 17, 20, 23]

## the two middle terms are 
x = 17
y= 20

## the median is:
med = (17+20) / 2
med_np = np.median(lis)
med_np

18.5

In [102]:
## the mean is 

np.mean(lis)

16.25

The difference is noticble